body{
   width: 100%;
  align-items: center;
}
h1, h2, h3, h4, h5, h6, p{margin: 0;}


.container{
  max-width: 1400px;
  width: 100%;

  margin: 0 auto;
}

.header{
  position: fixed;

  left: 0; top: 0;
  width: 100%;

  background-color: #333;
  font-family: 'Turret Road', cursive;
  z-index: 99;

  object-position: bottom;
}

.inner{
  height: 5.179vh;
  margin: 1.8vh auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotype{
  margin-bottom: 1.367vh;
  width: 24.3195vw; height: 5.2724375vh;
  display: flex;
  justify-content: space-between;
}

.logo{
  font-weight: 900;
  text-transform: uppercase;
  font-size: min(2.2vw, 4.1vh);
  color: #fff;
  height: 4.39vh;
  margin-top: 0.8834375vh;
  text-align: left;
}

.links{
  color:#FFFFFF;
  text-decoration: none;
  font-size: max(1.597vw, 2.2vh);

  display: inline-block;
  vertical-align: top;
  transition: color 0.2s linear;

  position: relative;
  margin: 0 25px;
}
.links:after{
  content: "";
  width: 100%;
  height: 3px;

  background: #00B2CA;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}
.links:hover{
  color: #00B2CA;
}
.links:hover:after{
  opacity: 1;
}

.work_field{
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  bottom: 0;
  flex: 0 0 1;

  max-width: 992px;
  width: 100%;

  max-height: 760px;
  height: 100%;
}

.user_interface{
  max-height: 449vh;
  height: 55%;
  width: 100%;

  display: flex;
}
.forms{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  width: 70%;
}

.triple{
  max-height: 49px;
  height: 100%;

  width: 100%;

  display: flex;
  justify-content: space-between;
}
.double{
  max-height: 49px;
  height: 100%;

  width: 65.5%;

  display: flex;
  justify-content: space-between;
}
.single{
  width: 30.4%;

  max-height: 49px;
  height: 100%;
}


button[type=button]{
  width: 100%;
  height: 100%;

  font-family: 'Turret Road', cursive;
  font-weight: bold;

  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #00B2CA;

  transition: color, background-color 0.15s linear;
}
button[type=button]:active{
  background-color: #00B2CA;
  color: white;
}


input{
  max-height: 49px; height: 100%;
  border: 1px solid #00B2CA;
  border-radius: 5px;
}
input:focus{
  border: 1px solid #6667ab;
}
input[type=number]{
  min-width: 208px;
  width: 30%;
  height: 90%;
}
input[type=text]{
  width: 45.8%;
  height: 90%;
}
input[type=date]{
  height: 90%;
  width: 100%;
}
input[type=image]{
  max-width: 49px; width: 100%;
}
input[type=checkbox]{
  width: 1.4583vw; height: 1.4583vh;
  margin: 0;
}
.menu{
  border-radius: 5px;
  border: 1px solid #00B2CA;

  width: 40%;
}

.qube{
  width: 30%;
}

.send_n_check{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 132px; height: 100%;

}
.commit_button{
  width: 30.4%;
  max-height: 49px;
  height: 100%;
}
.progress_bar{
  height: 20%;
  border: 1px solid #00B2CA;
  border-radius: 6px;
  white-space: nowrap;
}
.grey_bg{
  width: 100%; height: 100%;
  background-color: #ffffff;
  border-radius: 4px;
}
.bar{
  width: 0%;
  height: 100%;
  background-color: #00b2ca;
  border-radius: 4px;
  text-align: center;
  line-height: 90%;
}

.buttons_n_list{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons{
  display: block;

}

.list{
  background: #00B2CA;

  border-radius: 5px;

  width: 100%;

  display: flex;
  justify-content: space-between;
}
.column:last-child{
  width: 15%;
  margin-right: 0.25%;
  border-top-right-radius: 4px; border-bottom-right-radius: 4px;
}
.column:first-child{
  width: 15%;
  margin-left: 0.25%;
  border-top-left-radius: 4px; border-bottom-left-radius: 4px;
}
.column{
  margin-top: 0.25%;
  height: 95%;
  width: 34.5%;
  background: white;
}