<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Better Package</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap" rel="stylesheet"> <!--подключение шрифта-->
</head>

<body>
<header class="header"> <!--шапка страницы-->
  <div class="container">
    <div class="inner">
      <div class="logotype">
        <img src="{{ url_for('static', filename='Image/logo.png') }}" alt="logo">
        <div class="logo">BETTER PACKAGE</div>
      </div>
      <nav class="navigation">
        <a class="links" href="#">About us</a>
        <a class="links" href="#">Contacts</a>
      </nav>
    </div>
  </div>
</header>
<form method="post">
<div class="work_field">
    <div class="work_container">

        <div class="place">
        <input type="text" name="city1" id="city1" placeholder="Точка отправки">
        <span class="dash"></span>
        <input type="text" name="city2" id="city2" placeholder="Точка назначения">
      </div>
        <div class="size">
        <input type="number" name="length" id="length" placeholder="X">
        <input type="number" name="width" id="width" placeholder="Y">
        <input type="number" name="high" id="high" placeholder="Z">
      </div>
        <div class="date">
        <input type="date" name="cost" id="date">
      </div>
        <div class="cost">
        <input type="number" name="weight" id="cost" placeholder="вес, кг">
      </div>
        <div class="button">
        <div class="menu">
          <nav class="d_content" value = "Оссобенности груза">
            <ul>
              <li><input type="checkbox" name="common" id="common" checked>Обычный</li>
              <li><input type="checkbox" name="explosive" id="explosive">Огне/взрывоопасный</li>
              <li><input type="checkbox" name="liquid" id="liquid">Жидкий</li>
              <li><input type="checkbox" name="fragile" id="fragile">Хрупкий</li>
              <li><input type="checkbox" name="alive" id="alive">Живой</li>
              <li><input type="checkbox" name="no_rotate" id="no_rotate">Чуствительный к переворотам</li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="bar_container">
        <div id="greyBG">
          <div id="blueBar"></div>
        </div>
        <input type="submit" id="submit" onclick="move()">
      </div>

      <div class="list_container">
        <div class="sort">
          <button type="button" id="sortBy_speed">По скорости доставки</button>
          <button type="button" id="sortBy_cost">По стоимости</button>
          <button type="button" id="sortBy_name">По названию</button>
        </div>
        <div class="list"></div>
      </div>
    </div>
  </div>
</form>
</div>
<div class="cube">
  <img src="{{ url_for('static', filename='image/qube.png') }}" width="80%">
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
