<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Package</title>
    <link rel = "stylesheet" href = "../static/style.css">
</head>
<body>
    <form method="post">
        <input placeholder="Город отправления" type="text" maxlength="512" name="city1" id="city1" class="searchField">
        <input placeholder="Город получения" type="text" maxlength="512" name="city2" id="city2" class="searchField">
        <input placeholder="Длина, см" type="number" maxlength="512" name="length" id="length" class="searchField">
        <input placeholder="Ширина, см" type="number" maxlength="512" name="width" id="width" class="searchField">
        <input placeholder="Высота, см" type="number" maxlength="512" name="high" id="high" class="searchField">
        <input placeholder="Вес, кг" type="number" maxlength="512" name="weight" id="weight" class="searchField">
        <input placeholder = "Стоимость:" name="cost" id="cost" type = number>
        <input type="submit" id="submit" value="Сравнить цены">
    </form>
    <p>{{data}}</p>
<script  src="../static/script.js"></script>
</body>
</html>